.container {
  display: flex;
  margin: auto;
  flex-direction: column;

  @media (max-width: 767px) {
    margin: 0 15px;
  }

  @media (min-width: 768px) {
    margin: 0 45px;
  }

  @media (min-width: 1024px) {
    max-width: 1366px;
    margin: auto;
  }
}
