.logo {
  display: block;
}

.logo svg {
  fill: none;
  width: 116px;
  height: 19px;

  @media (min-width: 768px) {
    width: 134px;
    height: 24px;
  }

  @media (min-width: 1024px) {
    width: 154px;
    height: 27px;
  }
}

.logo:hover {
  filter: drop-shadow(0 0 1px $bright-blue);
}
