.slider {
  height: 400px;
  background-color: $bright-blue;

  @include main-font;
}

.slider__container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

.slider__image {
  height: 400px;
  grid-column: 1;
  grid-row: 1;
}

.slider__wrapper {
  margin-left: 268px;
  margin-top: 102px;
  grid-column: 1;
  grid-row: 1;
}

.slider__title {
  margin: 0;
  font-weight: bold;
  font-size: 54px;
  line-height: 63px;
  color: $light-grey;

  &--light {
    color: $graphite;
  }
}

.slider__description {
  margin: 0;
  margin-top: 8px;
  font-size: 22px;
  line-height: 26px;
  color: $grey;

  &--light {
    color: $grey-blue;
  }
}

.slider__button {
  width: 234px;
  height: 53px;
  background: $light-grey;
  border-radius: 4px;
  color: $graphite;
  margin-top: 34px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;

  &--light {
    background-color: $bright-blue;
    color: $light-grey;
  }
}
