.social__nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__nav-item {
  margin-left: 20px;

  &:nth-child(1) {
    margin-left: 0;
  }

  &:hover {
    filter: drop-shadow(0 0 10px $bright-blue);
  }

  @media (min-width: 768px) {
    margin-left: 20px;
  }

  @media (min-width: 1024px) {
    margin-left: 15px;
  }
}
